<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="artists">
      <div class="container artists-container">
        <h2 class="artists-title">Artists</h2>
        <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>
        <ul class="artists-list">
          <li class="artists-item">
            <div class="artists-box-img">
              <img
                src="./img/artists.png"
                alt="artist's photo"
                class="artists-img"
              />
            </div>

            <div class="artists-box-genres">
              <span class="artists-genre">Alternative</span>
              <span class="artists-genre">Pop</span>
              <span class="artists-genre">Rock</span>
              <span class="artists-genre">Indie </span>
            </div>

            <div class="artists-content">
              <h4 class="artists-name">Ren</h4>
              <p class="artists-descr">
                Ren Eryn Gill, known professionally as Ren, is a
                multi-award-winning Welsh singer-songwriter, musician, rapper,
                producer, and director. Formerly a member of Trick the Fox and
                the Big Push, Ren has independently released two albums,
                Freckled Angels and Sick Boi.
              </p>
              <button type="button" class="artists-learn-more-btn">
                Learn More
              </button>
            </div>
          </li>
          <li class="artists-item">
            <div class="artists-box-img">
              <img
                src="./img/artists.png"
                alt="artist's photo"
                class="artists-img"
              />
            </div>

            <div class="artists-box-genres">
              <span class="artists-genre">Alternative</span>
              <span class="artists-genre">Pop</span>
              <span class="artists-genre">Rock</span>
              <span class="artists-genre">Indie</span>
            </div>

            <div class="artists-content">
              <h4 class="artists-name">Ren</h4>
              <p class="artists-descr">
                Ren Eryn Gill, known professionally as Ren, is a
                multi-award-winning Welsh singer-songwriter, musician, rapper,
                producer, and director. Formerly a member of Trick the Fox and
                the Big Push, Ren has independently released two albums,
                Freckled Angels and Sick Boi.
              </p>
              <button type="button" class="artists-learn-more">
                Learn More
              </button>
            </div>
          </li>
          <li class="artists-item">
            <div class="artists-box-img">
              <img
                src="./img/artists.png"
                alt="artist's photo"
                class="artists-img"
              />
            </div>

            <div class="artists-box-genres">
              <span class="artists-genre">Alternative</span>
              <span class="artists-genre">Pop</span>
              <span class="artists-genre">Rock</span>
              <span class="artists-genre">Indie</span>
            </div>

            <div class="artists-content">
              <h4 class="artists-name">Ren</h4>
              <p class="artists-descr">
                Ren Eryn Gill, known professionally as Ren, is a
                multi-award-winning Welsh singer-songwriter, musician, rapper,
                producer, and director. Formerly a member of Trick the Fox and
                the Big Push, Ren has independently released two albums,
                Freckled Angels and Sick Boi.
              </p>
              <button type="button" class="artists-learn-more">
                Learn More
              </button>
            </div>
          </li>
          <li class="artists-item">
            <div class="artists-box-img">
              <img
                src="./img/artists.png"
                alt="artist's photo"
                class="artists-img"
              />
            </div>

            <div class="artists-box-genres">
              <span class="artists-genre">Alternative</span>
              <span class="artists-genre">Pop</span>
              <span class="artists-genre">Rock</span>
              <span class="artists-genre">Indie</span>
            </div>

            <div class="artists-content">
              <h4 class="artists-name">Ren</h4>
              <p class="artists-descr">
                Ren Eryn Gill, known professionally as Ren, is a
                multi-award-winning Welsh singer-songwriter, musician, rapper,
                producer, and director. Formerly a member of Trick the Fox and
                the Big Push, Ren has independently released two albums,
                Freckled Angels and Sick Boi.
              </p>
              <button type="button" class="artists-learn-more">
                Learn More
              </button>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
