<!-- section "artists" - has been done by Mykhailo Pylypiv  -->

<section class="artists" id="artists">
  <div class="container artists-container">
    <h2 class="artists-title">Artists</h2>
    <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>
    <ul class="artists-list"></ul>
  </div>

  <span class="loader hidden"></span>

  <button type="button" class="load-more js-load-more hidden">
    Load More
    <svg class="icon-down-arrow-alt" width="24" height="24">
      <use href="../img/sprite.svg#icon-down-arrow-alt"></use>
    </svg>
  </button>
</section>
