<section class="header">
  <header class="page-header">
    <div class="container">
      <nav class="header-nav">
        <a class="logo-icon" href="./index.html">
          <svg class="header-logo" width="119" height="51">
            <use href="/img/sprite.svg#icon-logo-lilac"></use>
          </svg>
        </a>
        <button
          class="burger-btn js-mobile-menu"
          type="button"
          aria-label="button open menu"
        >
          <svg class="burger-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-menu-btn"></use>
          </svg>
        </button>
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a
              class="header-nav-link"
              href="#artists"
              aria-label="link to section artists"
              >Artists</a
            >
          </li>
          <li class="header-nav-item">
            <a
              class="header-nav-link"
              href="#about"
              aria-label="link to section about us"
              >About Us</a
            >
          </li>
          <li class="header-nav-item">
            <a
              class="header-nav-link"
              href="#reviews"
              aria-label="link to section reviews"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</section>
