<section class="hero-section" id="hero">
    <div class="container">
<div class="hero-content">
    <h1 class="hero-header" tabindex="0">Discover Your Next Favorite Artist Today</h1>
    <p class="hero-text">Dive into a world of music discoveries with ArtistsHub - your personal guide to the boundless universe of sound. Explore, filter, and learn about your favorite artists all in one place.</p>
    <a href="#artists" class="hero-btn-link" aria-label="link-to-artists-section">Explore Artists
        <svg class="hero-btn-svg" width="24" height="24">
          <use href="/img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>

<div class="hero-img-wrapper">
  <div class="hero-columns-container">

    <div class="hero-column-up">
  
      <picture class="hero-image-up">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob1.webp 1x, /img/hero/mob/mob1@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab1.webp 1x, /img/hero/tab/tab1@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk1.webp 1x, /img/hero/desk/desk1@2x.webp 2x" />
        <img src="/img/hero/desk/desk1.webp" alt="Artist 1" />
      </picture>
  
      <picture class="hero-image-up">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob2.webp 1x, /img/hero/mob/mob2@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab2.webp 1x, /img/hero/tab/tab2@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk2.webp 1x, /img/hero/desk/desk2@2x.webp 2x" />
        <img src="/img/hero/desk/desk2.webp" alt="Artist 2" />
      </picture>
  
      <picture class="hero-image-up">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob3.webp 1x, /img/hero/mob/mob3@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab3.webp 1x, /img/hero/tab/tab3@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk3.webp 1x, /img/hero/desk/desk3@2x.webp 2x" />
        <img src="/img/hero/desk/desk3.webp" alt="Artist 3" />
      </picture>
  
      <picture class="hero-image-up">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob1.webp 1x, /img/hero/mob/mob1@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab1.webp 1x, /img/hero/tab/tab1@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk1.webp 1x, /img/hero/desk/desk1@2x.webp 2x" />
        <img src="/img/hero/desk/desk1.webp" alt="Artist 1" />
      </picture>
  
      <picture class="hero-image-up">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob2.webp 1x, /img/hero/mob/mob2@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab2.webp 1x, /img/hero/tab/tab2@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk2.webp 1x, /img/hero/desk/desk2@2x.webp 2x" />
        <img src="/img/hero/desk/desk2.webp" alt="Artist 2" />
      </picture>
  
      <picture class="hero-image-up">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob3.webp 1x, /img/hero/mob/mob3@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab3.webp 1x, /img/hero/tab/tab3@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk3.webp 1x, /img/hero/desk/desk3@2x.webp 2x" />
        <img src="/img/hero/desk/desk3.webp" alt="Artist 3" />
      </picture>
  
    </div>
  
    <div class="hero-column-down">
  
      <picture class="hero-image-down">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob4.webp 1x, /img/hero/mob/mob4@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab4.webp 1x, /img/hero/tab/tab4@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk4.webp 1x, /img/hero/desk/desk4@2x.webp 2x" />
        <img src="/img/hero/desk/desk4.webp" alt="Artist 4" />
      </picture>
  
      <picture class="hero-image-down">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob5.webp 1x, /img/hero/mob/mob5@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab5.webp 1x, /img/hero/tab/tab5@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk5.webp 1x, /img/hero/desk/desk5@2x.webp 2x" />
        <img src="/img/hero/desk/desk5.webp" alt="Artist 5" />
      </picture>
  
      <picture class="hero-image-down">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob6.webp 1x, /img/hero/mob/mob6@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab6.webp 1x, /img/hero/tab/tab6@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk6.webp 1x, /img/hero/desk/desk6@2x.webp 2x" />
        <img src="/img/hero/desk/desk6.webp" alt="Artist 6" />
      </picture>
  
      <picture class="hero-image-down">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob4.webp 1x, /img/hero/mob/mob4@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab4.webp 1x, /img/hero/tab/tab4@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk4.webp 1x, /img/hero/desk/desk4@2x.webp 2x" />
        <img src="/img/hero/desk/desk4.webp" alt="Artist 4" />
      </picture>
  
      <picture class="hero-image-down">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob5.webp 1x, /img/hero/mob/mob5@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab5.webp 1x, /img/hero/tab/tab5@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk5.webp 1x, /img/hero/desk/desk5@2x.webp 2x" />
        <img src="/img/hero/desk/desk5.webp" alt="Artist 5" />
      </picture>
  
      <picture class="hero-image-down">
        <source media="(max-width: 767px)" srcset="/img/hero/mob/mob6.webp 1x, /img/hero/mob/mob6@2x.webp 2x" />
        <source media="(max-width: 1439px)" srcset="/img/hero/tab/tab6.webp 1x, /img/hero/tab/tab6@2x.webp 2x" />
        <source srcset="/img/hero/desk/desk6.webp 1x, /img/hero/desk/desk6@2x.webp 2x" />
        <img src="/img/hero/desk/desk6.webp" alt="Artist 6" />
      </picture>
  
    </div>
  
  </div>
</div>
</div>
</section>
