<div class="mobile-menu-backdrop js-mobile-backdrop"></div>
<div class="mobile-menu">
  <div class="container">
    <div class="menu-mobile-header">
      <a href="#" class="logo" id="menu-mobile-logo" aria-label="To main page">
        <svg class="icon-mobi" width="119" height="51">
          <use href="/img/sprite.svg#icon-logo-lilac"></use>
        </svg>
      </a>
      <button class="js-mobile-close-menu" aria-label="Close menu">
        <svg class="icon icon-x" width="24" height="24">
          <use href="/img/sprite.svg#icon-Close"></use>
        </svg>
      </button>
    </div>
    <ul>
      <li><a href="#artists">Artists</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#reviews ">Reviews</a></li>
    </ul>
  </div>
</div>
