 <div class="menu-mobile-overlay"></div>
    <nav class="mobile-menu" >
      <div class="menu-mobile-header">
        <a href="#" class="logo" id="menu-mobile-logo" aria-label="На головну">
         <svg class="icon icon-Conten" width="106" height="30" ><use href="./img/sprite.svg#icon-logo-lilac"></use></svg>
        </a>
        <button class="js-mobile-close-menu" aria-label="Закрити меню">
          <svg class="icon icon-x" width="24" height="24"><use href="./img/sprite.svg#icon-Close"></use></svg>
            
          </svg>
        </button>
      </div>
      <ul>
        <li><a href="#artists">Artists</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#reviews">Reviews</a></li>
      </ul>
    </nav>