/* section "artists" - has been done by Mykhailo Pylypiv */

.artists {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--color-scheme-1-background);
}

.artists-container {
  position: relative;
}

.artists-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 16px;
}
.artists-subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 134px;
}
.artists-bar {
  width: 94px;
  height: 8px;
  background: var(--color-neutral-lighter);
  margin: 0 auto;
  margin-bottom: 64px;
}

/* ------ FILTER, SEARCH FORM --------*/

.artists-filter {
  position: absolute;
  top: 283px;
  left: 16px;
}

.search-form-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 12px;
}

.artists-filter-shelf {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 12px;
  padding: 10px 24px;

  background: var(--color-scheme-2-foreground);
}

.filter-shelf-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
}

.drop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
}

.drop-btn.down-btn::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;

  background-image: url(../img/artists/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.drop-btn.up-btn::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;

  background-image: url(../img/artists/chevron-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* form */
.overflow-box {
  height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.overflow-box.is-open {
  height: 290px;
}

.search-form {
  max-width: 100%;
  border-radius: 12px;
  padding: 12px;
  width: 289px;
  background: var(--color-scheme-2-foreground);
  color: var(--color-white);
}

.search-box {
  position: relative;
}
.search-form-input::-webkit-search-cancel-button {
  display: none;
}
.search-form .search-form-input {
  outline: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 150%;

  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 8px 12px;
  padding-left: 48px;
  width: 100%;
  height: 48px;
  color: var(--color-white);
  margin-bottom: 12px;
}

.search-form-input::placeholder {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 150%;
  color: var(--opacity-white-60);
}

.search-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting-wrap {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px 12px 0 0;
  padding: 8px 12px;
  width: 100%;
  height: 43px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-options-wrap {
  position: relative;
  border-bottom: 1px solid var(--color-scheme-1-border);
  border-left: 1px solid var(--color-scheme-1-border);
  border-right: 1px solid var(--color-scheme-1-border);
  border-radius: 0 0 16px 16px;
  padding: 0px 24px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.sorting-options-wrap.is-open {
  padding: 24px;
  height: 160px;
}

.sorting-label-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sorting-label-box label {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  cursor: pointer;
  transition: opacity 250ms ease;
}

.sorting-options-wrap label:hover {
  opacity: 0.6;
}

.sorting-options-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#default:checked ~ .sorting-label-box .default,
#abc:checked ~ .sorting-label-box .abc,
#zyx:checked ~ .sorting-label-box .zyx {
  opacity: 0.6;
}
/*  */

.artists-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 64px;
<<<<<<< HEAD
  margin-bottom: 64px;
=======
  margin-bottom: 32px;
>>>>>>> main
}
.artists-box-img {
  border-radius: 16px;
  width: 100%;
  height: 177px;
  margin-bottom: 24px;
  overflow: hidden;
}

.artists-img {
  width: 100%;
}

.artists-box-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.artists-genre {
  border: 1px solid var(--opacity-white-20);
  border-radius: 6px;
  padding: 4px 10px;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.5;
  align-items: center;
  color: var(--color-white);
}

.artists-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}
.artists-descr {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  color: var(--color-scheme-1-text);
}

.artists-learn-more-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);

  transition: all 200ms ease-in-out;
}

.artists-learn-more-btn:hover,
.artists-learn-more-btn:focus {
  opacity: 0.6;
}

.icon-caret-right {
  fill: currentColor;
}

.load-more {
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-affair);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  transition: background-color 0.3s ease;
  margin: 0 auto;
}
.load-more:hover,
.load-more:focus {
  background: #6f4d89;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2),
    inset 0 2px 2px rgba(255, 255, 255, 0.3);
  transform: translateY(-1px);
  outline: none;
}

/* -------------loader----------- */

.artists-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 6px solid #fff;
  border-top-color: #333;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more.hidden,
.loader.hidden {
  display: none;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .artists-subtitle {
    max-width: 575px;
    margin-bottom: 96px;
  }

  .artists-filter {
    top: 178px;
    left: 32px;
  }

  .artists-bar {
    display: none;
  }

  .artists-filter-drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 704px;
  }

  .search-form-title {
    margin: 0;
  }

  .artists-filter-shelf {
    width: 233px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 12px;
    padding: 10px 24px;

    background: var(--color-scheme-2-foreground);
  }

  .search-form {
    width: 304px;
    margin-left: auto;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--color-scheme-2-foreground);
    color: var(--color-white);
  }

  .artists-list {
    row-gap: 32px;
  }

  .artists-box-img {
    width: 704px;
    height: 432px;
  }

  .load-more {
    width: 340px;
  }
}

/* Styles for Desktop devices */

@media screen and (min-width: 1440px) {
  .artists {
    padding-top: 112px;
  }

  .artists-subtitle {
    max-width: 735px;
    font-size: 84px;
    line-height: 110%;
    margin-bottom: 80px;
  }

  .artists-filter {
    top: 293px;
    left: 64px;
  }

  .artists-filter-drop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 304px;
  }

  .artists-filter-shelf {
    display: none;
  }

  .artists-list {
    max-width: 976px;
    margin-left: auto;
    gap: 32px;
  }

  .search-form {
    background-color: transparent;
    padding-left: 0;
  }

  /*  */
  .artists-item {
    max-width: 640px;
    max-width: 472px;
  }

  .artists-box-img {
    width: 472px;
    height: 290px;
  }

  .load-more {
    width: 170px;
    margin-left: 739px;
  }
}
