/* Styles for Mobile devices */
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

  /* Styles for Tablet devices */
  @media screen and (min-width: 769px) and (max-width: 1439px) {
    .container {
      width: 768px;
      padding: 0 32px;
      margin: 0 auto;
    }
  }
  
  /* Styles for Desktop devices */
  
  @media screen and (min-width: 1440px) {
    .container {
      width: 1440px;
      padding: 0 64px;
      margin: 0 auto;    
    }
  }