/* Mobile styles */

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  background-color: var(--color-scheme-1-background);
  z-index: 1000;
}

main {
  margin-top: 89px;
}

.page-header .container {
  display: flex;
  align-items: center;
  background-color: var(--color-scheme-1-background);

  padding: 0 6px;
}

.logo-icon {
  padding-top: 5px;
  padding-bottom: 5px;
}

.burger-btn {
  padding: 12px;
}

.header-nav-list {
  display: none;
}

.header-logo {
  fill: var(--color-affair);
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .page-header .container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .logo-icon {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .burger-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }

  .header-logo {
    fill: var(--color1, #fff);
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--color-neutral-lighter);
    transition: var(--animation);
  }

  main {
    margin-top: 105px;
  }
}
/* Desktop styles */
@media screen and (min-width: 1440px) {
  main {
    margin-top: 113px;
  }
}
