
.js-mobile-menu,
.mobile-menu {
  display: none;
}

@media (max-width: 767px) {
  .mobile-menu-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--animation);
  }

  .backdrop.is-active {
    opacity: 1;
    visibility: visible;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .js-mobile-menu {
    display: block;
    cursor: pointer;
    border: none;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #060307;
    transform: translateX(-100%);
    transition: var(--animation) ;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }

  .menu-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:  7px ;
    padding-top: 7px;
    min-height: 66px;
  }

  .js-mobile-close-menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin-top:39px;
  }
  .icon-mobi {
    fill: var(--color-affair);
  }

  .mobile-menu li {
    padding-bottom: 32px;
  }

  .mobile-menu a {
    color: var(--color-scheme-1-text);
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}