.tui-pagination {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.tui-pagination .tui-page-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  border: none;
  border-radius: 12px;
  padding: 10px 17px;
  width: 46px;
  height: 47px;

  transition: background-color var(--animation);
}

.tui-pagination .tui-ico-ellip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}

.tui-pagination .tui-ico-ellip,
.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-prev {
  background: none;
}

/*  */
.tui-page-btn .tui-ico-next,
.tui-page-btn .tui-ico-prev {
  display: none;
}

.tui-pagination .tui-prev {
  margin: 0;
  margin-right: 10px;
}

.tui-page-btn.tui-prev-is-ellip,
.tui-page-btn.tui-next-is-ellip {
  min-width: 16px;
  padding: 0;
  padding-top: 8px;
}

.tui-page-btn.tui-prev {
  background-image: url(../img/artists/slider-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 46px;

  transform: rotate(180deg);
}

.tui-page-btn.tui-next {
  background-image: url(../img/artists/slider-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-width: 46px;
}
/*  */

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  border: none;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-is-selected {
  background-color: var(--opacity-white-10);
}

.tui-first,
.tui-last {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .tui-pagination {
    width: 372px;
    margin-left: 658px;
  }
  .tui-pagination .tui-page-btn {
    width: 59px;
  }

  .tui-page-btn.tui-prev,
  .tui-page-btn.tui-next {
    width: 48px;
  }

  .tui-page-btn.tui-prev-is-ellip,
  .tui-page-btn.tui-next-is-ellip {
    width: 16px;
  }
}
