*,
::after,
::before {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}